<style>
    body {
        background-image: url('https://cdn.dribbble.com/users/1894420/screenshots/11700268/media/1ad21c9ccda8d2875edf5cfad781fd2d.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<body
    background="https://cdn.dribbble.com/users/1894420/screenshots/11700268/media/1ad21c9ccda8d2875edf5cfad781fd2d.gif">
    <div>
        <h1>Register for Chat Application</h1>
        <div>
            <form action="/Register" method="POST">
                <label for="name">Register Name :</label>
                <input type="text" id="name" name="name" value="" placeholder="Enter name" required><br><br>
                <label for="name">Profile Name:</label>
                <input type="text" id="profile" name="profile" placeholder="Enter Profile" required><br><br>
                <label for="contactL">Contact No:</label>
                <input type="number" id="contact" name="contact" value="Contact No " required><br><br>
                <label for="Password">Password :</label>
                <input type="password" id="password" name="password" required>

                <div><br>
                    <input type="submit" value="Register" style="width: 10%">
                    <br><a href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>